

// --- Default parameters

// Running it
params.cores = 4

// Sequencing technology
params.tech = "map-ont"

// sample sheet
params.samplesheet = "samplesheet.csv"

// output dir
params.outdir = "results"

// genomes directory
params.genomes = "/srv/shared/genomes/"

// barcode searching parameters
params.error_rate = 0.1
params.min_overlap = 3

// barcode searching parameters
params.min_bc_len = 20
params.max_bc_len = 60

// metagenomic parameters
params.sourmash_db = "/srv/shared/databases/sourmash/gtdb-rs220-k21.zip"
params.meta_ovlp = 1000
params.taxonomy = "/srv/shared/databases/sourmash/gtdb-rs220.lineages.sqldb"

params.help = false
params.path_prefix = "" // Empty string means local file system

// --- Pipeline config

manifest.defaultBranch = 'main'

docker {
    enabled = true
    runOptions = '--pull=always'
}


profiles {
    standard {
        process.executor = 'local'
        process.container = "116981805068.dkr.ecr.us-west-1.amazonaws.com/pioneer/pipelines:main2"
    }

    awsbatch {
        process.executor = 'awsbatch'
        process.queue = 'nextflow-batch'
        process.container = "116981805068.dkr.ecr.us-west-1.amazonaws.com/pioneer/pipelines:main2"
        aws.region = 'us-west-1'
        aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
        workDir = "s3://pioneer-scratch/nextflow_scratch/"
        process.memory = "18 GB"
	    params.outdir = "s3://pioneer-scratch/results/"
	    params.genomes = "s3://pioneer-data/genomes/"
	    params.path_prefix = "s3:/"
    }
}
