

// --- Default parameters

// sample sheet
params.samplesheet = "test_samplesheet.csv"

// output dir
params.outdir = "results"

// vector sequence to use for rotating and orienting reads (using rrnB terminator)
params.rotate_anchor = "TTTATCTGTTGTTTGTCGGTGAACGCTCTC"

// mapping paramaters for finding barcodes and inserts
params.kmer_size = 6
params.chaining_score = 5 
params.mismatch = 4

// genome files for mapping inserts
params.ref_fa = "$HOME/shared/genomes/H_elongata/H_elongata_contigs.fna"
params.ref_gff = "$HOME/shared/genomes/H_elongata/H_elongata_annotations.gff"


// --- Pipeline config

conda.enabled = true
