/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/
params {
    outdir="tests/results"
    local_dir = "tests/resutls"
}
// Impose sensible resource limits for testing
process {
    withName: '.*' {
        cpus   = 2
        memory = 3.GB
        time   = 2.h
    }
}

